<section class="bg-gradient-to-r from-blue-500 to-blue-700 text-white text-center py-20">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-4">Welcome to Growth Circle</h1>
    <p class="text-xl mb-8">Empowering you to reach your goals with a circle of support.</p>
    <% if @employee %>
      <a href=<%= company_program_path(@employee.company.slug, @employee.coaching_program) %> class="bg-yellow-500 hover:bg-yellow-400 text-black py-2 px-6 rounded-full text-lg">View your program</a>
    <% elsif @coach %>
      <a href=<%= coach_path(@coach) %> class="bg-yellow-500 hover:bg-yellow-400 text-black py-2 px-6 rounded-full text-lg">Dashboard</a>
    <% else %>
      <a href="/users/sign_up" class="bg-yellow-500 hover:bg-yellow-400 text-black py-2 px-6 rounded-full text-lg">Get Started</a>
    <% end %>
  </div>
</section>

<section id="features" class="py-16 bg-white">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold text-gray-800 mb-8">Features</h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Track Your Progress</h3>
        <p class="text-gray-700">Easily track your personal and professional goals with intuitive progress reports.</p>
      </div>
      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Join a Community</h3>
        <p class="text-gray-700">Engage with a like-minded community of people who support each other’s growth.</p>
      </div>
      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Personalized Insights</h3>
        <p class="text-gray-700">Receive actionable insights based on your goals and progress to keep you on track.</p>
      </div>
    </div>
  </div>
</section>
